.add-btn {
	padding-left: 15px;
	padding-top: 15px;
}

.mash-ingredient-row {
	margin: 0;

	.quantity-input {
		box-sizing: border-box;
		width: 100%;
	}

	.fermentable-select {
		padding-right: 0;

		select {
			box-sizing: border-box;
			width: 100%;
		}
	}
}

.boil-ingredient-row {
	.quantity-input {
		width: 50px;
	}
}

.remove-ingredient-btn {
	
	button {
		width: 100%;
	}
	padding-left: 0 !important;
}