/*
TODO: 

header section dimensions for mobile/small screen

	.menu, medium->large media query:
		max-width: 66vw;
	.menu, small media query
		max-width: 100%/100vw;

	icon sizing: 
		absolute position, fit parent height and match width

	text sizing:
		up to ~20px vertical padding
		no padding when header is vertically small
		offset from icon position (+~20px)


text styling for mobile

input field alignment within grid
	make input field take up remainder of space?
	max width?

fermentables & hops panel
	remove "Add Ingredient" button and have an empty entry at bottom of recipe?

"add" & "remove" button styling

srm colour display

malt selector sections

*/

@import 'neat';
@import 'grid-settings';
@import 'grid-mixins';
@import 'mixins';


#example {	/* Main element from index.html */
	position: relative;
	display: block;
	margin: auto;
}

h1
{
	@include vertical-center();
	@include text(32px, bold);
	left: 90px;
	margin: 0px;
	overflow: hidden;
}

h2
{
	@include text(24px, bold);
}

p
{
	@include text(18px);
}

label
{
	@include text(18px);
}

input {
	width: 3em;
	@include text(18px);
}

select
{
	@include text(18px);
}

button
{
	@include text(18px);
}

.panel
{
	//@include one-third;
}

.calculated-label
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.input-panel
{

}

.label-field
{

}

.right-align
{
	float: right;
}

.one-half
{
	@include one-half;
}

.one-third
{
	@include one-third;
}

.one-quarter
{
	@include one-quarter;
}

.full-span
{
	@include full-span;
}

.panel-container
{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f8f8f8;
	max-width: 600px;
}

.outer-container
{
	@include outer-container;
}

.menu {
	background: #f8f8f8;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
}

$large-header-height: 75px;
$mobile-header-height: 150px;

.menu-item-header {
	@include media($small-screen)
	{

	}

	@include media(-webkit-min-device-pixel-ratio: 2 and min-resolution: 192dpi)
	{
		height: $mobile-header-height;
	}

	@include media($medium-screen)
	{
		height: $large-header-height;
	}

	@include media($large-screen)
	{
		height: $large-header-height;
	}

	@include media($xl-screen)
	{
		height: $large-header-height;
	}

	background: linear-gradient(to bottom, rgba(120, 120, 120, 1), rgba(200, 200, 200, 1));
	
	overflow: hidden;
	display: block;
	position: relative;
	padding: 10px;

	height: 30vh;
	max-height: 500px;
}

.menu-icon {
	height: 100%;
	min-width: 10%;
	float: left;
}