/*
TODO: 

calculated label styling

input label styling

input field styling

heading text styling

button styling
*/

@import 'neat';
@import 'grid-settings';
@import 'grid-mixins';
@import 'mixins';


#example {	/* Main element from index.html */
	position: relative;
	display: block;
	margin: auto;
}

$menu-header-line-height: 75px;

h1
{
	@include vertical-center();
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 32px;
	left: 90px;
	margin: 0px;
	overflow: hidden;
}

h2
{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

p
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

label
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

input {
	width: 3em;
}

.panel
{
	//@include one-third;
}

.calculated-label
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.input-panel
{

}

.label-field
{

}

.one-half
{
	@include one-half;
}

.one-third
{
	@include one-third;
}

.one-quarter
{
	@include one-quarter;
}

.full-span
{
	@include full-span;
}

.panel-container
{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f8f8f8;
	max-width: 600px;
}

.outer-container
{
	@include outer-container;
}

.menu {
	background: #f8f8f8;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
}

.menu-item-header {
	/*cursor: pointer;
	transition: 0.5s transform ease;
	-webkit-transition: -webkit-transform 0.5s ease;*/
	background: linear-gradient(to bottom, rgba(120, 120, 120, 1), rgba(200, 200, 200, 1));
	height: $menu-header-line-height;
	overflow: hidden;
	display: block;
	position: relative;
	padding: 10px;
}

.menu-icon {
	height: 100%;
	min-width: 10%;
	float: left;
}