/*
TODO:

ingredient input row cell padding - 0 on mobile, <50px otherwise

fermentables & hops panel
	remove "Add Ingredient" button and have an empty entry at bottom of recipe?
	Don't wrap ingredient row items

"add" & "remove" button styling

srm colour display

malt selector sections

hide vertical scrollbar

css transform color instead of separate on/off buttonstate icons

*/

@import 'mixins';
@import 'mash';
@import 'boil';
@import 'bootstrap';

body {
	margin: 8px 0 0 0;
}

#main {
	position: relative;
	display: block;
	margin: auto;
}

h1
{
	@include vertical-center();
	@include text(32px, bold);
	left: 90px;
	margin: 0px;
	overflow: hidden;
}

h2
{
	@include text(24px, bold);
}

h3
{
	@include text(18px, bold);
}

p
{
	@include text(18px);
}

label
{
	@include text(18px);
}

input {
	width: 3em;
	@include text(18px);
}

select
{
	@include text(18px);
}

button
{
	@include text(18px);
}

.calculated-label
{
	@include text(18px, bold);
}

.right-align
{
	float: right;
}

.panel-container
{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f8f8f8;
	max-width: 600px;
}

.menu {
	background: #f8f8f8;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
}

.menu-item-header {
	height: 75px;

	background: linear-gradient(to bottom, rgba(120, 120, 120, 1), rgba(200, 200, 200, 1));
	overflow: hidden;
	display: block;
	position: relative;
	padding: 10px;
	max-height: 500px;
}

.menu-icon {
	height: 100%;
	min-width: 10%;
	float: left;
}

.left-align {
	text-align: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.bottom-pad {
	padding-bottom: 25px;
}

.sm-bottom-pad {
	padding-bottom: 10px;
}

.no-margin {
	margin: 0 !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.no-side-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

