/*
TODO:

ingredient input row cell padding - 0 on mobile, <50px otherwise

fermentables & hops panel
	remove "Add Ingredient" button and have an empty entry at bottom of recipe?
	Don't wrap ingredient row items

"add" & "remove" button styling

srm colour display

malt selector sections

hide vertical scrollbar

css transform color instead of separate on/off buttonstate icons

*/
.add-btn {
  padding-left: 15px;
  padding-top: 15px; }

.mash-ingredient-row {
  margin: 0; }
  .mash-ingredient-row .quantity-input {
    box-sizing: border-box;
    width: 100%; }
  .mash-ingredient-row .fermentable-select {
    padding-right: 0; }
    .mash-ingredient-row .fermentable-select select {
      box-sizing: border-box;
      width: 100%; }

.boil-ingredient-row .quantity-input {
  width: 50px; }

.remove-ingredient-btn {
  padding-left: 0 !important; }
  .remove-ingredient-btn button {
    width: 100%; }

.add-ingredient-button {
  float: left; }

.boil-ingredient-row {
  display: inline-block; }

body {
  margin: 8px 0 0 0; }

#main {
  position: relative;
  display: block;
  margin: auto; }

h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: bold;
  left: 90px;
  margin: 0px;
  overflow: hidden; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal; }

label {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal; }

input {
  width: 3em;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal; }

select {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal; }

button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal; }

.calculated-label {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold; }

.right-align {
  float: right; }

.panel-container {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f8f8f8;
  max-width: 600px; }

.menu {
  background: #f8f8f8;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto; }

.menu-item-header {
  height: 75px;
  background: linear-gradient(to bottom, #787878, #c8c8c8);
  overflow: hidden;
  display: block;
  position: relative;
  padding: 10px;
  max-height: 500px; }

.menu-icon {
  height: 100%;
  min-width: 10%;
  float: left; }

.left-align {
  text-align: left; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right; }

.bottom-pad {
  padding-bottom: 25px; }

.sm-bottom-pad {
  padding-bottom: 10px; }

.no-margin {
  margin: 0 !important; }

.no-left-padding {
  padding-left: 0 !important; }

.no-right-padding {
  padding-right: 0 !important; }

.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }
